<div class="row">
  <div class="span12">
    <div id="map_canvas" style="height: 370px; width: 100%;"></div>
  </div>
</div>

<hr>

<div class="row">
  <div class="span3">
    <h3>Contact Details</h3>
    <hr>
    <address>
      <strong>Team RV, Inc.</strong><br>
      1218 Liberty Expy SE<br>
      Albany, GA 31705-5934<br>
      USA
    </address>
    <p><strong>Phone</strong><br>
    (800) 424-6301<br>
    (229) 435-5852</p>
    <p><strong>Fax</strong><br>
    (229) 439-0175</p>
    <p><strong>Hours</strong><br>
    Mon-Fri: 8:30am to 5pm<br>
    Sat: 8:30pm to noon<br>
    Sun: Closed</p>
  </div>
  <div class="span9">
    <h3>Send an Email</h3>
    <hr>
    <form>
      <div class="row">
        <div class="span3">
          <label>Name</label>
          <input type="text" class="span3">
        </div>
        <div class="span3">
          <label>Email</label>
          <input type="email" class="span3">
        </div>
        <div class="span3">
          <label>Phone</label>
          <input type="tel" class="span3">
        </div>
      </div>
      <label>Message</label>
      <textarea class="span9" rows="10"></textarea>
      <br>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>